/*support style sheet*/

section {
    display: block;
    list-style-type: none;



}
section h1 {
    font-size: 150%;
}

section h1::first-letter{
    font-size:100%;
}
section h2 {
    font-size: 120%;
    padding: .25em 0 .25em 25px;
    cursor: pointer;
    background: url(../images/plus.png) no-repeat left center;
    color:#9b59b6;
}

h2:hover{
    color: blue;
}

section h2.minus {
    background: url(../images/minus.png) no-repeat left center;
}
section div {
    display: none;
    padding-left: 35px;
}
section div.open {
    display: block;
}
