/*products.css*/

main section {
    display: block;
    list-style-type: none;
}
main section h1 {
    font-size: 150%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

main section h1::first-letter{
    font-size:100%;
}
main section h2 {
    font-size: 120%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}

main section form{
    padding-top: 5px;
    padding-bottom: 5px;
}

main section p{
   margin: 0; 
   margin-top: 10px; 
}

main section table {
    border: 2px solid black;
    border-collapse: collapse;
}

main section th, main section td {
    border: 2px dashed grey;
    padding: 2px;
    padding-left: 5px; 
    padding-right: 5px; 
    text-align: left;
}


