
body{
    font-family: sans-serif;
    header {
        text-indent: 25px;
        img{
            float:left;
            width:80px;
        }
        h2 {
            color: #fe4d5b;
            font-style: italic;
            text-shadow: 1px 1px black;
            text-indent: 25px;
            font-size: 200%;
        }
        h3{
            font-size: 125%
        }
    }
    h1{
        font-size: 150%;
        span{
            font-size:200%
        }
    }
    h2{
        font-size: 125%
    }
    h3{
        font-size: 110%
    }

    ul{
        line-height: 1.5;
        a:link{
            color:#9b59b6;
        }
        a:visited{
            color:#12395b;
        }
        a:hover{
            color:#2880b9;
        }
    }
    footer{
        font-family: sans-serif;
        text-align: center;
        font-size: 90%;
        color: grey;
    }
}
