/*cutomer_login.css*/

form {
    float: right;
    width:580px;
    padding: 0;
    padding-left: 50px;
    margin-top: 2em;
}

form h2{
    font-size: 150%;
    margin: 0;
    padding: 0;

}

form p{
    margin: 0;
    padding: 0;
    line-height: 3;
}

form a{
    line-height: 3;
}

form span a{
    line-height: 3;
    padding-left: 350px;
}
form span button{
    width: 60px;
}

form input{
    width: 300px;
} 


