/*support style sheet*/


html
{
    z-index: -1;
}
section {
    display: block;
    list-style-type: none;
    
}
section h1 {
    font-size: 150%;
    margin: 0;
}

section h1::first-letter{
    font-size:100%;
}
section h2 {
    font-size: 120%;
    padding: .25em 0 .25em 25px;
    cursor: pointer;
}
